body #cabecalho .cbotao1 {
  color: rgb(100, 58, 4);
  background-color: bisque;
  padding: 10px;
  border: 4px solid rgb(100, 58, 4);
  border-radius: 20%;
  position: relative;
  top: 20px;
  left: 10px;
  text-decoration: none;
  font-family: Arial;
}
body #cabecalho .cbotao2 {
  color: rgb(100, 58, 4);
  background-color: bisque;
  padding: 10px;
  border: 4px solid rgb(100, 58, 4);
  border-radius: 20%;
  position: relative;
  top: 20px;
  left: 10px;
  text-decoration: none;
  font-family: Arial;
}

body {
  margin: 0px;
}

#cabecalho {
  display: inline;
  background-color: aqua;
  border: 8px solid aqua;
  justify-content: center;
}
