body{
  background: #18442F;
  font-family: 'Times New Roman';
  position: relative;
}

.menu{
  position: absolute;
  top: 75px;
  left: 270px;
  width: 1000px;
  height: 500px;
  background: #ECECEC;
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 30px;
  place-content: center;
  border-radius: 1rem;

}

.menu h1{
  color: #5B3C2F;
  font-size: 60px;
  grid-column: 1/-1;
  text-align: center;
}

.equipe-azul{
  position: relative;
  color:  #42AEEE;
  place-self: end center;
}

.equipe-laranja{
  position: relative;
  color: #D8852A;
  place-self: end center;
}

h2{
  font-size: 40px;
}

.ok{
  position: relative;
  font-size: 25px;
  padding: 20px;
  border-radius: 1rem;
}

.equipe-laranja .ok{
  left: 100px;
  background-color: #D8852A;
}
.equipe-azul .ok{
  left: 60px;
  background-color: #42AEEE;
}

.ok a{
  text-decoration: none;
  color: #F1F1F2;
}
